.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    color: #ffffff;
    background-color: #55646d;
    border-radius: 6px;
    border: 2px solid #000000;
  }
  .boton_personalizado:hover{
    color: #1883ba;
    background-color: #ffffff;
  }